@charset "UTF-8";
/* Normal White */

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
	cursor: pointer;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn::after {
  transition: border 0.1s linear 0.05s;
}
.btn .btn-inner {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}


/*Grey button*/
.but_grey {
  display: inline-block;
  padding: 13px 20px;
  color: #555555;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 3px solid #e1e1e1;
  font: 18px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
	cursor: pointer;
}
.but_grey::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #555555;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.but_grey::after {
  transition: border 0.1s linear 0.05s;
}
.but_grey .but_grey-inner {
  position: relative;
  z-index: 2;
}
.but_grey:hover {
  color: #fff;
  transition: color 0.1s linear 0s;
		border: none;
	padding: 16px 23px;
}
.but_grey:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.but_grey:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.but_grey_active {
	background: #555555; /* fallback for old browsers */
color: #FFFFFF;
border: none;
padding: 16px 23px;
	cursor: pointer;
}


/*Multicolor*/

.orange_red::before {
background: #fc4a1a !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f7b733, #fc4a1a) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.green_blue::before {
	background: #00F260 !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0575E6, #00F260) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #0575E6, #00F260) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grey_background {
	background: #555 !important;
}

.but {
  display: inline-block;
  padding: 13px 20px;
  color: #555555;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 3px solid #e1e1e1;
  font: 18px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
	cursor: pointer;}
.but::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #c0392b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c0392b, #8e44ad); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c0392b, #8e44ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.but::after {
  transition: border 0.1s linear 0.05s;
}
.but .but-inner {
  position: relative;
  z-index: 2;
}
.but:hover {
  color: #ffffff !important;
  transition: color 0.1s linear 0s;
		border: none;
	padding: 16px 23px;
}
.but:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.but:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.but_active {
	background: #c0392b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c0392b, #8e44ad); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c0392b, #8e44ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #FFFFFF;
border: none;
padding: 16px 23px;
	cursor: pointer;
}
