@charset "UTF-8";

.second_nav ul{
	list-style-type: none;
	padding:0;
	text-align: center;
	position: fixed;
	width: 90px;
	top: 30%;
	z-index: 2;
}


.second_nav li {
	display: table;
	text-align: center;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	background-color: #A9A9A9;
	margin-bottom: 10px;
	margin-left: 10px;
	
	transition: all .2s ease-in-out;
}

.second_nav li a {
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	font-size: 12px;
	vertical-align: middle;
	display: table-cell
}

.second_nav ul :hover {
transform: scale(1.1);}

/*Handled*/
#hconcept.off   {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#hconcept   {
	background-color: #074b76;
	transition: all .2s ease-in-out;
}

#hprototype.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}


#hprototype {
	background-color: #074b76;
	transition: all .2s ease-in-out;
}

#htesting.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#htesting {
	background-color: #074b76;
	transition: all .2s ease-in-out;
}

#hresearch.off   {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#hresearch   {
	background-color: #074b76;
	transition: all .2s ease-in-out;
}

#hbisplan.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}


#hbisplan {
	background-color: #074b76;
	transition: all .2s ease-in-out;
}

/*RockeyMoutainATV*/
#rsolution {
	background-color: #ee2a27;
	transition: all .2s ease-in-out;
}

#rsolution.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#rpersona {
	background-color: #ee2a27;
	transition: all .2s ease-in-out;
}

#rpersona.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#rwireframe {
	background-color: #ee2a27;
	transition: all .2s ease-in-out;
}

#rwireframe.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#rprototype {
	background-color: #ee2a27;
	transition: all .2s ease-in-out;
}

#rprototype.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

/* Recreation Redesign */
#rfresults {
	background-color: #6eab66;
	transition: all .2s ease-in-out;
}

#rfresults.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#rfusers {
	background-color: #6eab66;
	transition: all .2s ease-in-out;
}

#rfusers.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#rfhierarchy {
	background-color: #6eab66;
	transition: all .2s ease-in-out;
}

#rfhierarchy.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}


/* Drop Box */
#personas.off   {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#personas   {
	background-color: #5894c8;
	transition: all .2s ease-in-out;
}

#mapping.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}


#mapping {
	background-color: #5894c8;
	transition: all .2s ease-in-out;
}

#narrative.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#narrative {
	background-color: #5894c8;
	transition: all .2s ease-in-out;
}

/* MTG */
#mtgintro {
	background-color: #9d9276;
	transition: all .2s ease-in-out;
}

#mtgintro.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#mtgfinal {
	background-color: #9d9276;
	transition: all .2s ease-in-out;
}

#mtgfinal.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}

#mtgproto {
	background-color: #9d9276;
	transition: all .2s ease-in-out;
}

#mtgproto.off {
	background-color: #A9A9A9;
	transition: all .2s ease-in-out;
}