@charset "UTF-8";
@import "compass/css3";
@import url("leftsidenav.css");
/****INDEX*****
1. General
2. Nav bar
3. Home Page
2. Parallax
5. Painting canvas
6. Responsive Mobile 
7. Responsive Tablet
8. About me
9. Work Page
10. Vertical Tabs
11. Project Pages
**/

/**General**/

p {
	margin-left: 11%;
	margin-right: 11%;
}
p {font-weight:300;}


strong {
	font-weight: 400;
}

.list {
	margin-left: 10%;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
}


body {
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #777;
	font-size: 20px;
}
.work_body {
	background-color: #f7f7f7;
}
a {
	color: #777;
	text-decoration: none;
}

a:hover {
	color:#216FB7;
}

h1 {
	font-weight: 400;
}
h2 {
	
	margin-left: 7%;
}

h4 {
	margin-left: 9%;
}
h5 {
	margin-left :11%;
}

.vid {
	width: 100%;
	max-width: 1000px;
	max-height: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 20px;
}

button {
    border: none;
    color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight: 300;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	background-color:white;
	border-radius: 8px;
    color: #777;
    border: 2px solid #777777;
}
button:hover {
	background-color: #777777;
    color: white;
}

.active {
    color:#3277e3;
}

.button_grey {
	background-color: #f7f7f7;
}

.xd_download {
	background-color: #28001c;
	color: #ff34c1;
	border: 2px solid #ff34c1;
}

.xd_download:hover {
	background-color: #ff34c1;
    color: white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.imgHalf {
	display: inline-block;
	margin: 10px 2%;
	width: 45%;
	height: auto;
}
/***Nav Bar***/


.navbar {
  overflow: hidden;
  background-color:#FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
	z-index: 2;
}

.navbar a {
  float: right;
  display: block;
  color: #2C2C2C;
	font-weight: 300;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
	color:#216FB7;
	border-bottom: 3px solid #4295D3;
	padding-bottom: 11px;
}
#logo:hover {
	color:#216FB7;
}


#logo {
	float: left;
	font-weight: 500;
}

#active {
	font-weight: 500;
	color:#216FB7;
}

/***Home Page***/

#parent div {
    display:none;
    position: relative;
    top: 30px;
    left: 0;
	width: 100%
}
#parent div:first-child {
    display:block;
}

.handledVid {
	position: absolute;
	z-index: 4;
	top: 40%;
	left: 50px;
	width: 50%;
	height: 49%;
}

.home h3{
	color: #777;
}

.section_white {
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 30px;
	text-align: left; 
	height: auto; 
	overflow:auto;
}

.section_grey {
	color: #777;
	background-color: #f7f7f7;
	text-align:center;
	padding:50px 30px;
	text-align: left; 
	height: auto; 
	overflow:auto;
}

.content_page {
	padding-top: 60px;
}

.section_black {
	color:#ddd;
	background-color:#282E34;
	text-align:center;
	padding:50px 30px;
	text-align: center;
}

.uofux {
	max-width: 600px;
display: block;
	margin-left: auto;
	margin-right: auto;
}
.skills {
	margin: 0px 10%;
	display: inline-block;
	position: relative;
}

.skills_container {
	margin: 10px;
	float: left;
	font-weight: 400;
}
.skills_container img {
	float:left;
	width: 30px;
	padding-right: 5px;
}

/*Social Icons*/
.fa {
  padding: 10px 5px 0px 5px;
  font-size: 30px;
  width: 30px;
height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #840DCB;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

/**Paralex**/


body, html {
  height: 100%;
  margin: 0;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image:url(../images/Ideation.jpg);
  min-height: 300px;
}

.bgimg-2 {
  background-image:url(../images/coffee.jpg);
  min-height: 300px;
}

.bgimg-3 {
  background-image:url(../images/pen.jpg);
  min-height: 300px;
}

.bgimg-4 {
	background-image:url(../images/bg_4.jpg);
  min-height: 300px;
}

.bgimg-5 {
	background-image:url(../images/bg_5.jpg);
  min-height: 300px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
	z-index: 2;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
/****Painting Canvas******/
#intro {
position: absolute;
  top: 40%;
  left: 75%;
  color: #000;
left: 0;
right: 0;
font-size: 24px;
padding-left: 40px;
max-width: 425px;
}

/****About Me****/
#profile {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 40%;
	min-width: 300px;
	height: auto;
	min-height: 300px;
	display: block;
}

/****Work Page****/
.title {
	padding-left: 20px;
	padding-top: 30px;
	font-size: 38px;
	font-weight: 400;
	
}
.project_thumbnail {
	float: left;
}

.tags {
	border-radius: 25px;
    background: #a9c3d1;
    padding: 7px 10px;  
	font-size: 11px;
	color: #ffffff;
	margin: 10px 10px 0px 10px;
	display: inline-block;
}

.work_container {
	width: auto;
	height: auto;
	min-height: 220px;
	border: 1px thin black;
	margin: 35px 20px;
	background-color: white;
	position: relative;
	top: 0;
	transition: top ease 0.5s;
	display: block;
}

.work_container:hover {
	top: -5px;
	box-shadow: 0 8px 6px -6px grey;
}

.worklist {
	padding-top: 80px;
	text-align: center;
	font-weight: 400;
	
	
	
}
.worklist a {
	padding: 10px 20px;
	border: 2px solid #777777;
	color: white;
	font-weight: 300;
	font-size: 20px;
}

.hyperlink {
	text-decoration: none;
	color: #353535;
	
}
.content {
	padding-bottom: 10px;
}
/**Project Pages**/
.grey_back {
	background-color: #f7f7f7;
	padding: 60px 0px;
}
#handled_title {
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.handled_iframe {
	border: thin #868686 1px;
	width: 375px;
	height: 567px;
}

.next_back {
	padding-bottom: 20px;
}

.image_wall img {
	padding: 20px;
	width: 329px;
	height: 584px;
}

.clickLink {
	font-weight: 400;
	text-decoration: underline;
}

.imgFull {
	display: block;
	margin: auto;
	width: 90%;
	max-width: 900px;
	padding-bottom: 20px;
}

.invision_Iframe {
	display: block;
	width:100vw;
	height: 100vh;
}


/***Side Nav***/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #CBCBCB;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	float: left;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/***Mouse****/

.mouse-icon {
  position: absolute;
  border: 2px solid #2f2f2f;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 13px;
  height: 40px;
  width: 30px;
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 100;
}

.mouse-icon .scroll {
  -webkit-animation-name: scrolling;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: scrolling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.mouse-icon .scroll {
  position: relative;
  border-radius: 10px;
  background: #2f2f2f;
  width: 4px;
  height: 8px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes scrolling  {
  0%   { top:2px;  opacity: 0;}
  30%  { top:8px; opacity: 1;}
  100% { top:16px; opacity: 0;}
}

@keyframes scrolling  {
  0%   { top:2px;  opacity: 0;}
  30%  { top:8px; opacity: 1;}
  100% { top:16px; opacity: 0;}
}

