@charset "UTF-8";

/********Responsive****/
/*****Index****/
/*****
1.Nav Bar
2.Second nav bar
****/

/****Nav Bar****/
@media only screen and (max-width: 750px) {
    #desktop_second_nav {
        display: none;
    }
	#right_menu {
		display:none;
	}
	
	
	#nav_icon {
		display: block;
	}
	
}

@media only screen and (min-width: 751px) {
    #desktop_second_nav {
        display: block;
    }
	#right_menu {
		display:block;
	}
	
	#nav_icon {
		display: none;
	}
	
	.content {
		padding-left: 120px;
	}
}

/*****Work Page*****/
@media only screen and (max-width: 750px) {
  
	.project_thumbnail {
		width:100%;
		height:auto;
		padding-bottom: 10px;
	}
	
	.work_container {
		text-align: center;
	}
	
	.section_white img {
		margin: auto;
		display:block;
		
	}
	
	#profile {
		float: none;
	}
	#main_buttons {
  width: 50%;
  margin: 0 auto;
	text-align: center;
	}
	
}
/***Handled***/

@media only screen and (max-width: 375px) {
  .handled_iframe {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.image_wall img {
		padding: 20px 0px;
		margin: 0px;
	}
}

/***USFS Connect***/

@media only screen and (max-width: 750px) {
	#numberIndex {
		visibility: hidden;
	}
}

/***USFS Connect***/

@media only screen and (min-width: 900px) {
	#skills {
		display: block;
		margin-left: 45%;
	}
}